Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        name: Check YAML files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.351
    hooks:
      - id: pyright
        additional_dependencies:
          [
            beartype,
            einops,
            jax,
            jaxtyping,
            optax,
            pytest,
            tensorflow,
            tf2onnx,
            typing_extensions,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: local
    hooks:
      - id: version-check
        name: Check version consistency
        entry: hooks/correct_docs_version.py
        language: python
        files: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: version-check
        name: Check dependency consistency
        entry: hooks/validate_docs_deps.py
        language: python
        files: ^(pyproject\.toml|.github/workflows/docs.yml)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: consolidate-docs
        name: Consolidate configuration documentation
        entry: python hooks/consolidate_docs.py
        language: python
        # Only trigger if the README or the specific config files change
        files: ^(README\.md|documentation/configs/.*\.md)$
        pass_filenames: false

small refactoring of backbone refactor
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/training/lifecycle.py
Due: consolidate-docs

Ft/backbone (#127)
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/__init__.py
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/artifacts/manifests.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/composition.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/infer.py
  src/sequifier/make.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/initialization.py
  src/sequifier/model/layers.py
  src/sequifier/model/model.py
  src/sequifier/train.py
  src/sequifier/training/__init__.py
  src/sequifier/training/distributed.py
  src/sequifier/training/initial_state.py
  src/sequifier/training/lifecycle.py
Due: consolidate-docs

deploy: 8403413a5177ec7ce9734b6f20947d6c4b778080
  main/_modules/sequifier/config/composition.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/train.html
  main/api.html
  main/searchindex.js
Due: none

structured logs
  README.md
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/train.py
  src/sequifier/training/metrics.py
  src/sequifier/visualize_training.py
  tools/extract_validation_losses_to_table.py
Due: version-check, consolidate-docs

Save log files in folder
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/logging_paths.py
  src/sequifier/train.py
  src/sequifier/training/metrics.py
  src/sequifier/visualize_training.py
Due: none

Ft/structured logs (#128)
  README.md
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/logging_paths.py
  src/sequifier/train.py
  src/sequifier/training/metrics.py
  src/sequifier/visualize_training.py
  tools/extract_validation_losses_to_table.py
Due: version-check, consolidate-docs

deploy: ec8a87e6aba33dbf126f0554641b9c0dc890a12b
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/train.html
  main/api.html
  main/searchindex.js
Due: none

deduplicate hyperparameter search
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  src/sequifier/hyperparameter_search.py
Due: consolidate-docs

deduplicate hyperparameter search (#129)
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  src/sequifier/hyperparameter_search.py
Due: consolidate-docs

deploy: df60e6a646a811e9fc6958d801a82244f3231033
  main/_modules/sequifier/hyperparameter_search.html
  main/api.html
  main/searchindex.js
Due: none

rf backbone
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/initialization_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/model/backbone.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/initialization.py
  src/sequifier/model/model.py
  src/sequifier/train.py
Due: none

Fix scheduler log bug
  src/sequifier/config/hyperparameter_search_config.py
Due: none

Rf/backbone (#130)
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/initialization_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/model/backbone.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/initialization.py
  src/sequifier/model/model.py
  src/sequifier/train.py
Due: none

deploy: e37a20fe9f5f7062ab07197e16e754b8b259e8d4
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/train.html
  main/api.html
  main/searchindex.js
Due: none

Make embedding configurable
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/embedding.py
  src/sequifier/train.py
Due: version-check, consolidate-docs

Make embedding configurable (#131)
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/embedding.py
  src/sequifier/train.py
Due: version-check, consolidate-docs

deploy: b876567f2010dcf14d9ecd8334e72b3eb20ba164
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/train.html
  main/api.html
  main/searchindex.js
Due: none

Add shorter init config format
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/initialization_config.py
  src/sequifier/model/initialization.py
  src/sequifier/train.py
Due: consolidate-docs

add freezing config
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/freezing_config.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/initialization_config.py
  src/sequifier/config/layer_groups.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/yaml.py
  src/sequifier/model/freezing.py
  src/sequifier/model/parameter_groups.py
  src/sequifier/train.py
Due: consolidate-docs

bug fix
  src/sequifier/train.py
Due: none

Ft/freezing (#132)
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/freezing_config.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/initialization_config.py
  src/sequifier/config/layer_groups.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/yaml.py
  src/sequifier/model/freezing.py
  src/sequifier/model/initialization.py
  src/sequifier/model/parameter_groups.py
  src/sequifier/train.py
Due: consolidate-docs

deploy: 9d2708a44a1bef3d4be4f92b846e6b2958b6d666
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/train.html
  main/api.html
  main/genindex.html
  main/objects.inv
  main/searchindex.js
Due: none

rf hyperparameter sampling
  src/sequifier/hyperparameter_search.py
Due: none

rf hyperparameter sampling (#133)
  src/sequifier/hyperparameter_search.py
Due: none

deploy: d1eaf1654ed773bcb52b9c4e0e8fb188c05849ee
  main/_modules/sequifier/hyperparameter_search.html
  main/api.html
  main/searchindex.js
Due: none

external compat
  docs/source/api.rst
  documentation/training/integrations.md
  src/sequifier/artifacts/__init__.py
  src/sequifier/artifacts/loading.py
  src/sequifier/integration/__init__.py
  src/sequifier/integration/callbacks.py
  src/sequifier/integration/contexts.py
  src/sequifier/integration/controls.py
  src/sequifier/integration/specifications.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/embedding.py
  src/sequifier/model/factory.py
  src/sequifier/model/layers.py
  src/sequifier/model/network.py
  src/sequifier/model/parameter_catalog.py
  src/sequifier/model/tracing.py
  src/sequifier/train.py
  src/sequifier/training/__init__.py
  src/sequifier/training/engine.py
  src/sequifier/training/session.py
  src/sequifier/training/state.py
Due: none

revert some
  docs/source/api.rst
  documentation/training/integrations.md
  src/sequifier/artifacts/loading.py
  src/sequifier/integration/__init__.py
  src/sequifier/integration/callbacks.py
  src/sequifier/integration/contexts.py
  src/sequifier/integration/controls.py
  src/sequifier/integration/specifications.py
  src/sequifier/model/embedding.py
  src/sequifier/model/factory.py
  src/sequifier/model/network.py
  src/sequifier/model/parameter_catalog.py
  src/sequifier/model/tracing.py
  src/sequifier/train.py
  src/sequifier/training/engine.py
  src/sequifier/training/session.py
  src/sequifier/training/state.py
Due: none

refactor interface
  src/sequifier/integration/controls.py
  src/sequifier/model/tracing.py
  src/sequifier/train.py
  src/sequifier/training/engine.py
Due: none

external compat (#134)
  src/sequifier/artifacts/__init__.py
  src/sequifier/artifacts/loading.py
  src/sequifier/integration/__init__.py
  src/sequifier/integration/callbacks.py
  src/sequifier/integration/contexts.py
  src/sequifier/integration/controls.py
  src/sequifier/integration/specifications.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/embedding.py
  src/sequifier/model/factory.py
  src/sequifier/model/layers.py
  src/sequifier/model/network.py
  src/sequifier/model/parameter_catalog.py
  src/sequifier/model/tracing.py
  src/sequifier/train.py
  src/sequifier/training/__init__.py
  src/sequifier/training/engine.py
  src/sequifier/training/session.py
  src/sequifier/training/state.py
Due: none

deploy: 6c0ced887eea4199e00f0b7622fbb1463d89c2c3
  main/_modules/sequifier/train.html
  main/api.html
  main/searchindex.js
Due: none

Adapt viz
  documentation/commands/visualize-training.md
  src/sequifier/sequifier.py
  src/sequifier/visualize_training.py
Due: none

fix hps numbering
  src/sequifier/hyperparameter_search.py
Due: none

Make hps search n_samples declarative rather than incremental
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  src/sequifier/hyperparameter_search.py
Due: consolidate-docs

Rf/visualiazation (#135)
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  src/sequifier/hyperparameter_search.py
  src/sequifier/sequifier.py
  src/sequifier/visualize_training.py
Due: consolidate-docs

v1 composable datasets
  README.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/loading.py
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/composable_train_config.py
  src/sequifier/config/composition.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/logging_paths.py
  src/sequifier/make.py
  src/sequifier/model/factory.py
  src/sequifier/model/network.py
  src/sequifier/sequifier.py
  src/sequifier/train.py
  src/sequifier/training/distributed.py
  src/sequifier/training/engine.py
  src/sequifier/training/metrics.py
  src/sequifier/training/runtime.py
  src/sequifier/training/state.py
  src/sequifier/visualize_training.py
Due: version-check, consolidate-docs

Fix diff
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/composable_train_config.py
  src/sequifier/infer.py
  src/sequifier/make.py
  src/sequifier/train.py
Due: consolidate-docs

Adopt new training config in hps
  docs/source/api.rst
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
  src/sequifier/artifacts/loading.py
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/canonical_hyperparameter_search_config.py
  src/sequifier/config/composable_train_config.py
  src/sequifier/config/composition.py
  src/sequifier/config/freezing_config.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/probabilities.py
  src/sequifier/config/train_config.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/io/yaml.py
  src/sequifier/model/factory.py
  src/sequifier/model/freezing.py
  src/sequifier/sequifier.py
  src/sequifier/train.py
Due: consolidate-docs

Fix regressions
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/infer.py
  src/sequifier/train.py
  src/sequifier/training/engine.py
Due: none
