Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        name: Check YAML files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.351
    hooks:
      - id: pyright
        additional_dependencies:
          [
            beartype,
            einops,
            jax,
            jaxtyping,
            optax,
            pytest,
            tensorflow,
            tf2onnx,
            typing_extensions,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: local
    hooks:
      - id: version-check
        name: Check version consistency
        entry: hooks/correct_docs_version.py
        language: python
        files: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: version-check
        name: Check dependency consistency
        entry: hooks/validate_docs_deps.py
        language: python
        files: ^(pyproject\.toml|.github/workflows/docs.yml)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: consolidate-docs
        name: Consolidate configuration documentation
        entry: python hooks/consolidate_docs.py
        language: python
        # Only trigger if the README or the specific config files change
        files: ^(README\.md|documentation/configs/.*\.md)$
        pass_filenames: false

torch_compile hp default
  src/sequifier/config/hyperparameter_search_config.py
Due: none

Add please fill total steps
  src/sequifier/make.py
  tests/integration/test_make.py
Due: none

deploy: d27158cc0d21053b3724d598973ed50b21fa95fd
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/train.html
  main/api.html
  main/genindex.html
  main/objects.inv
  main/searchindex.js
Due: none

Fix exact preprocessing bug
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/infer.py
  src/sequifier/preprocess.py
Due: version-check, consolidate-docs

Fix exact preprocessing bug (#111)
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/infer.py
  src/sequifier/preprocess.py
Due: version-check, consolidate-docs

deploy: 990658c27add22d63a3e70160e0829dd89525f52
  main/_modules/index.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_lazy.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/train.html
  main/_static/documentation_options.js
  main/api.html
  main/genindex.html
  main/index.html
  main/py-modindex.html
  main/search.html
Due: none

Add preprocessing from precomputed stats
  src/sequifier/config/preprocess_config.py
  src/sequifier/preprocess.py
  tests/configs/preprocess-test-categorical-precomputed-stats-negative.yaml
  tests/configs/preprocess-test-categorical-precomputed-stats.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_preprocessing.py
  tests/resources/source_data/test-data-categorical-precomputed-stats-negative.csv
  tests/resources/source_data/test-data-categorical-precomputed-stats.csv
Due: none

Add preprocessing from precomputed stats (#112)
  src/sequifier/config/preprocess_config.py
  src/sequifier/preprocess.py
  tests/configs/preprocess-test-categorical-precomputed-stats-negative.yaml
  tests/configs/preprocess-test-categorical-precomputed-stats.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_preprocessing.py
  tests/resources/source_data/test-data-categorical-precomputed-stats-negative.csv
  tests/resources/source_data/test-data-categorical-precomputed-stats.csv
Due: none

deploy: 1077b71188716fb405d2bd9919088feb51db6055
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/preprocess.html
  main/api.html
  main/searchindex.js
Due: none

Add plotly dependency
  .github/workflows/docs.yml
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
  tests/integration-test-log.txt
Due: version-check, consolidate-docs

Add plotly dependency (#113)
  .github/workflows/docs.yml
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
  tests/integration-test-log.txt
Due: version-check, consolidate-docs

WIP
  README.md
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/train.py
  tests/integration/test_make.py
Due: version-check, consolidate-docs

update version
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

deploy: f65074441c4945b22f642e93210425d4ba7bfd9e
  main/_modules/index.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_lazy.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_static/documentation_options.js
  main/api.html
  main/genindex.html
  main/index.html
  main/py-modindex.html
  main/search.html
Due: none

Increment to v1.1.2.0
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

Increment to v1.1.2.0 (#116)
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

deploy: 91659188b539641537319ceed1aaee856adc95df
  main/_modules/sequifier/train.html
Due: none

deploy: 4657fe5d6c703c4197d91b44494d38c059f7f18a
  main/_modules/index.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_lazy.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_static/documentation_options.js
  main/api.html
  main/genindex.html
  main/index.html
  main/py-modindex.html
  main/search.html
Due: none

Enable multi parquet output
  src/sequifier/config/preprocess_config.py
  src/sequifier/preprocess.py
  tools/convert_v0_config_to_v1.py
Due: none

Adapt training and inference to multi parquet
  src/sequifier/config/train_config.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/train.py
  tests/configs/infer-test-categorical-multitarget.yaml
  tests/configs/preprocess-test-categorical-multitarget.yaml
  tests/configs/train-test-categorical-multitarget.yaml
  tests/integration/test_preprocessing.py
Due: none

Adapt embedding outputs
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-7-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-real-1-best-3-autoregression-predictions.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-0-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-1-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-2-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-3-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-4-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-5-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-6-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-7-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-0-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-1-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-2-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-3-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-4-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-5-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-6-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-7-probabilities.csv
Due: none

add train-test-categorical-multitarget-eager
  tests/configs/train-test-categorical-multitarget-eager.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_training.py
Due: none

rename io classes
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/preprocess.py
  src/sequifier/train.py
  tests/unit/io/test_sequifier_dataset_from_folder_lazy.py
Due: consolidate-docs

Update docs
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
Due: consolidate-docs

Refactor pt loading classes
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/preprocess.py
  tests/unit/io/test_sequifier_dataset_from_folder_parquet_lazy.py
  tests/unit/io/test_sequifier_dataset_from_folder_pt_lazy.py
Due: none

update outputs
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-best-3-predictions/sequifier-model-categorical-multitarget-5-best-3-7-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-real-1-best-3-autoregression-predictions.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-0-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-1-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-2-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-3-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-4-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-5-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-6-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-itemId-probabilities/sequifier-model-categorical-multitarget-5-best-3-7-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-0-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-1-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-2-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-3-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-4-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-5-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-6-probabilities.csv
  tests/resources/target_outputs/probabilities/sequifier-model-categorical-multitarget-5-best-3-supCat1-probabilities/sequifier-model-categorical-multitarget-5-best-3-7-probabilities.csv
Due: none

Small changes
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
  src/sequifier/config/infer_config.py
  src/sequifier/preprocess.py
  tests/configs/infer-test-lazy.yaml
  tests/unit/io/test_sequifier_dataset_from_folder_parquet_lazy.py
Due: consolidate-docs

Increment version
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs
