Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

version-check:
  name: Check dependency consistency
  entry: hooks/validate_docs_deps.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tomli

consolidate-docs:
  name: Consolidate configuration documentation
  entry: python hooks/consolidate_docs.py
  language: python
  pass_filenames: false

deploy: da5d1d4b074f63eb46994eb458d10742f0900a36
  main/_modules/index.html
  main/_modules/sequifier/config/canonical_hyperparameter_search_config.html
  main/_modules/sequifier/config/composition.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/metadata.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_sources/api.rst.txt
  main/api.html
  main/genindex.html
  main/index.html
  main/objects.inv
  main/searchindex.js
Due: none

fix regressions
  src/sequifier/config/composable_train_config.py
  src/sequifier/model/factory.py
  src/sequifier/preprocess.py
  src/sequifier/special_tokens.py
Due: none

Fix logging
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/train.py
  src/sequifier/training/engine.py
  src/sequifier/training/runtime.py
Due: none

fix
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/train.py
  src/sequifier/visualize_training.py
Due: consolidate-docs

fix discriminator hps bug
  src/sequifier/config/canonical_hyperparameter_search_config.py
Due: none

validate constructor args
  src/sequifier/config/canonical_hyperparameter_search_config.py
  src/sequifier/config/composable_train_config.py
Due: none

enable simplified configs
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/canonical_hyperparameter_search_config.py
  src/sequifier/config/composable_train_config.py
  src/sequifier/config/composition.py
  src/sequifier/make.py
Due: version-check, consolidate-docs

expose simplified inference config
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/infer_config.py
  src/sequifier/make.py
Due: none

update docs
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

reverse project_root default
  src/sequifier/config/infer_config.py
  src/sequifier/make.py
Due: none

simplify
  src/sequifier/api.py
  src/sequifier/artifacts/__init__.py
  src/sequifier/artifacts/loading.py
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/canonical_hyperparameter_search_config.py
  src/sequifier/config/components.py
  src/sequifier/config/composable_train_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/infer.py
  src/sequifier/integration/callbacks.py
  src/sequifier/io/config.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/model/factory.py
  src/sequifier/model/parameter_catalog.py
  src/sequifier/objectives.py
  src/sequifier/train.py
  src/sequifier/training/__init__.py
  src/sequifier/training/engine.py
  src/sequifier/training/runtime.py
  src/sequifier/training/session.py
Due: none

make optional
  src/sequifier/config/train_config.py
Due: none

simplify 2
  docs/source/api.rst
  src/sequifier/api.py
  src/sequifier/artifacts/__init__.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/components.py
  src/sequifier/config/components.py
  src/sequifier/config/composable_train_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/yaml.py
  src/sequifier/optimizers/optimizers.py
  src/sequifier/special_tokens.py
  src/sequifier/train.py
  src/sequifier/training/engine.py
  src/sequifier/training/runtime.py
  src/sequifier/training/state.py
Due: none

store rng
  src/sequifier/runtime/random_state.py
Due: none

gate checkpoint propagation
  src/sequifier/export/service.py
  src/sequifier/training/engine.py
Due: none

complete safe resume
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/training/engine.py
  src/sequifier/training/optimization.py
Due: none

refactor file naming
  README.md
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/infer.py
Due: version-check, consolidate-docs

update docs
  README.md
  docs/requirements-docs.txt
  docs/source/api.rst
  docs/source/conf.py
  docs/source/guides/hyperparameter-search.rst
  docs/source/guides/infer.rst
  docs/source/guides/multi-gpu-training.rst
  docs/source/guides/preprocess.rst
  docs/source/guides/runtime-architecture.rst
  docs/source/guides/train.rst
  docs/source/guides/visualize-training.rst
  docs/source/index.rst
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  documentation/training/multi-gpu-training.md
Due: version-check, consolidate-docs

new logging
  documentation/commands/visualize-training.md
  documentation/consolidated-docs.md
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/training/metrics.py
  src/sequifier/visualize_training.py
Due: none

address warnings
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
  src/sequifier/__init__.py
  src/sequifier/evaluation/service.py
  src/sequifier/export/onnx.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/factory.py
  src/sequifier/model/layers.py
  src/sequifier/model/network.py
  src/sequifier/preprocess.py
  src/sequifier/training/loss.py
Due: version-check

Fix dist issues
  src/sequifier/runtime/builder.py
  src/sequifier/runtime/random_state.py
  src/sequifier/training/distributed_strategy.py
  src/sequifier/training/engine.py
Due: none

Fix freezing resolution
  src/sequifier/runtime/builder.py
  src/sequifier/training/runtime.py
Due: none

Fix efficiency bugs
  src/sequifier/training/engine.py
  src/sequifier/training/state.py
Due: none

update readme
  README.md
  design/sequifier-illustration.excalidraw
  design/sequifier-illustration.png
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Ft/multi (#138)
  README.md
  design/sequifier-illustration.excalidraw
  design/sequifier-illustration.png
  documentation/consolidated-docs.md
  src/sequifier/runtime/builder.py
  src/sequifier/runtime/random_state.py
  src/sequifier/training/distributed_strategy.py
  src/sequifier/training/engine.py
  src/sequifier/training/runtime.py
  src/sequifier/training/state.py
Due: version-check, consolidate-docs

deploy: ac4b808ea5d9c5a91c7bff4665ea420daf24294d
  main/_modules/sequifier/training/distributed_strategy.html
  main/_modules/sequifier/training/state.html
  main/api.html
  main/genindex.html
  main/objects.inv
  main/searchindex.js
Due: none

adapt README
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

adapt readme
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Adapt README
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

change
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Causal Modelling Variants
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

readme readability
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

ad disclaimer
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Path conditions:
  version-check: (any of: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$) or (any of: ^(pyproject\.toml|.github/workflows/docs.yml)$)
  consolidate-docs: any of: ^(README\.md|documentation/configs/.*\.md)$
