Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        name: Check YAML files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.351
    hooks:
      - id: pyright
        additional_dependencies:
          [
            beartype,
            einops,
            jax,
            jaxtyping,
            optax,
            pytest,
            tensorflow,
            tf2onnx,
            typing_extensions,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: local
    hooks:
      - id: version-check
        name: Check version consistency
        entry: hooks/correct_docs_version.py
        language: python
        files: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: version-check
        name: Check dependency consistency
        entry: hooks/validate_docs_deps.py
        language: python
        files: ^(pyproject\.toml|.github/workflows/docs.yml)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: consolidate-docs
        name: Consolidate configuration documentation
        entry: python hooks/consolidate_docs.py
        language: python
        # Only trigger if the README or the specific config files change
        files: ^(README\.md|documentation/configs/.*\.md)$
        pass_filenames: false

Add test for distributed inference with parquet
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  src/sequifier/config/infer_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  tests/configs/infer-test-distributed-parquet.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_inference.py
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-categorical-multitarget-5-last-3-predictions/sequifier-model-categorical-multitarget-5-last-3-7-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-model-real-1-best-3-autoregression-predictions.csv
Due: consolidate-docs

remove distributed fields from infer config, add warnings
  dev/directions.txt
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  src/sequifier/config/infer_config.py
  src/sequifier/distributed/env.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/train.py
  tests/configs/infer-test-distributed-parquet.yaml
Due: consolidate-docs

Add test, declare beta feature
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
  tests/configs/train-test-distributed-lazy-parquet.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_training.py
Due: consolidate-docs

small fix
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
Due: none

deploy: 696fd104b88be5fdb27feb6d36c11b864fba2052
  main/_modules/index.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_lazy.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_static/documentation_options.js
  main/api.html
  main/genindex.html
  main/index.html
  main/objects.inv
  main/py-modindex.html
  main/search.html
  main/searchindex.js
Due: none

add optuna implementation
  .github/workflows/docs.yml
  pyproject.toml
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/train.py
  tests/integration-test-log.txt
  tests/integration/conftest.py
Due: version-check

Add bayesian hp search
  docs/source/api.rst
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/hyperparameter_search.py
  tests/configs/hyperparameter-search-bayesian.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_hyperparameter_search.py
  tests/integration/test_training.py
Due: none

Test for state presence
  src/sequifier/hyperparameter_search.py
  src/sequifier/make.py
  tests/integration-test-log.txt
  tests/integration/test_hyperparameter_search.py
Due: none

Add external eval to hyperparameter search
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/make.py
  tests/configs/hyperparameter-search-custom-eval-inference.yaml
  tests/configs/hyperparameter-search-custom-eval.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_hyperparameter_search.py
  tests/integration/test_training.py
  tests/resources/source_scripts/hp_search_eval_script.py
Due: none

small chagnes
  src/sequifier/hyperparameter_search.py
  src/sequifier/train.py
Due: none

introduce global_step
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/train.py
  tests/integration-test-log.txt
  tests/integration/test_hyperparameter_search.py
Due: none

add dynamic delay & adapt test
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/train.py
  tests/configs/hyperparameter-search-sample.yaml
  tests/integration-test-log.txt
Due: none

small fixes
  src/sequifier/hyperparameter_search.py
Due: none

Extract last_epoch
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
Due: none

add IntDistribution validation
  src/sequifier/config/hyperparameter_search_config.py
Due: none

small fixes
  src/sequifier/hyperparameter_search.py
  src/sequifier/train.py
Due: none

small fixes
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/hyperparameter_search.py
Due: none

small fixes
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/hyperparameter_search.py
  tests/configs/hyperparameter-search-sample.yaml
Due: none

Remove custom
  src/sequifier/model/layers.py
  src/sequifier/visualize_training.py
  tests/integration-test-log.txt
Due: none

Warn about trial pruning in distributed training
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/hyperparameter_search.py
Due: none

small fixes
  src/sequifier/config/hyperparameter_search_config.py
Due: none

Update docs
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Update version
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

Fix table
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
Due: consolidate-docs

Remove note
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
Due: consolidate-docs

remove double
  documentation/consolidated-docs.md
Due: none

remove double
  documentation/configs/hyperparameter-search.md
Due: consolidate-docs

indents
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
Due: consolidate-docs

Remove lines
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
Due: consolidate-docs

Ft/optuna (#118)
  .github/workflows/docs.yml
  README.md
  docs/source/api.rst
  docs/source/conf.py
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/make.py
  src/sequifier/model/layers.py
  src/sequifier/train.py
  src/sequifier/visualize_training.py
  tests/configs/hyperparameter-search-bayesian.yaml
  tests/configs/hyperparameter-search-custom-eval-inference.yaml
  tests/configs/hyperparameter-search-custom-eval.yaml
  tests/integration-test-log.txt
  tests/integration/conftest.py
  tests/integration/test_hyperparameter_search.py
  tests/integration/test_training.py
  tests/resources/source_scripts/hp_search_eval_script.py
Due: version-check, consolidate-docs

deploy: 194c423fd6230efc90006d36d538a54c63c7af0e
  main/_modules/index.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_sources/api.rst.txt
  main/_static/documentation_options.js
  main/api.html
  main/genindex.html
  main/index.html
  main/objects.inv
  main/py-modindex.html
  main/search.html
  main/searchindex.js
Due: none

WIP
  src/sequifier/infer.py
Due: none

change to head_data
  src/sequifier/infer.py
Due: none

Mive to autoregression_extra_steps
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/infer_config.py
  src/sequifier/infer.py
  tests/configs/hyperparameter-search-custom-eval-inference.yaml
  tests/configs/infer-test-categorical-autoregression.yaml
  tests/configs/infer-test-real-autoregression.yaml
  tests/integration-test-log.txt
  tests/unit/test_infer.py
Due: consolidate-docs

Rename fns, add test resource outputs
  src/sequifier/infer.py
  tests/integration-test-log.txt
  tests/resources/target_outputs/predictions/sequifier-model-real-1-best-3-autoregression-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-predictions/sequifier-test-hp-search-custom-eval-run-0-best-1-7-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-predictions/sequifier-test-hp-search-custom-eval-run-1-best-1-7-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-predictions/sequifier-test-hp-search-custom-eval-run-2-best-1-7-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-0-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-1-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-2-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-3-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-4-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-5-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-6-predictions.csv
  tests/resources/target_outputs/predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-predictions/sequifier-test-hp-search-custom-eval-run-3-best-1-7-predictions.csv
  tests/unit/test_infer.py
Due: none

update to 1.2.0.0
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs
