Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

version-check:
  name: Check dependency consistency
  entry: hooks/validate_docs_deps.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tomli

consolidate-docs:
  name: Consolidate configuration documentation
  entry: python hooks/consolidate_docs.py
  language: python
  pass_filenames: false

Add temp convolution and axial attn
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/frontends.py
Due: consolidate-docs

Remove simple conv
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/frontends.py
Due: consolidate-docs

rename input type naming
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/frontends.py
  src/sequifier/train.py
Due: consolidate-docs

add config validation
  src/sequifier/config/train_config.py
Due: none

Remove frontend terminology
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
Due: consolidate-docs

Adapt to new structured input structure
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
Due: consolidate-docs

Remove joint_embedding_dim
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
  tools/convert_v0_config_to_v1.py
Due: consolidate-docs

reorganise embedding dims
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
  tools/convert_v0_config_to_v1.py
Due: consolidate-docs

rf structured input
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  tools/convert_v0_config_to_v1.py
Due: consolidate-docs

scale all input modalities
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
Due: none

revert config migration
  tools/convert_v0_config_to_v1.py
Due: none

Make output_dim mandatory
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  tests/test_ingestion_validation.py
Due: consolidate-docs

initialize all weights
  src/sequifier/config/train_config.py
  src/sequifier/model/ingestions.py
  tests/test_ingestion_validation.py
Due: none

torch dtypes in conv layers
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
  tests/test_ingestion_validation.py
Due: consolidate-docs

Explicit full dtyping
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/model/dtypes.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/layers.py
  src/sequifier/train.py
  tests/test_ingestion_validation.py
Due: none

catch mask dtype
  src/sequifier/model/layers.py
Due: none

Ft/structured input (#123)
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/dtypes.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/layers.py
  src/sequifier/train.py
Due: consolidate-docs

deploy: 9657ccd0ce9ebf79d58c410a2589c6dc4404378c
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/train.html
  main/api.html
  main/searchindex.js
Due: none

Update docs
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
Due: consolidate-docs

Add auxiliary cols
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
Due: consolidate-docs

dilation schedule
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/ingestions.py
Due: consolidate-docs

add global positional encodings
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
Due: consolidate-docs

add shared layers
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
Due: consolidate-docs

Add new decoder architecture, model initialization, window-stride sampling, range-concatenated positions
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/io/window_sampling.py
  src/sequifier/make.py
  src/sequifier/model/decoders.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/initialization.py
  src/sequifier/preprocess.py
  src/sequifier/train.py
Due: consolidate-docs

Make special tokens configurable
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/infer.py
  src/sequifier/model/decoders.py
  src/sequifier/special_tokens.py
  src/sequifier/train.py
Due: consolidate-docs

make onnx inference autonomous again, global hs search seed management
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/make.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/initialization.py
  src/sequifier/model/layers.py
  src/sequifier/special_tokens.py
  src/sequifier/train.py
Due: consolidate-docs

set layer_autocast to false
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
Due: consolidate-docs

Add hyperparameter sampling of gradient_clip
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
Due: consolidate-docs

Add incremental hs search config
  docs/source/api.rst
  documentation/configs/hyperparameter-search.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
Due: consolidate-docs

Add configurable initialization
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/initialization_config.py
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/initialization.py
  src/sequifier/train.py
Due: consolidate-docs

simplify partial hs search implementation
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
Due: none

refactor ingestion
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/model/decoders.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
  src/sequifier/train.py
Due: consolidate-docs

Ft/translob (#125)
  docs/source/api.rst
  documentation/commands/visualize-training.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/initialization_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/io/window_sampling.py
  src/sequifier/make.py
  src/sequifier/model/decoders.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/initialization.py
  src/sequifier/model/layers.py
  src/sequifier/preprocess.py
  src/sequifier/special_tokens.py
  src/sequifier/train.py
Due: consolidate-docs

rename config keys to deduplicate
  .pre-commit-config.yaml
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  documentation/example_inputs/configs/ddconfigs/preprocessing_input.json
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/make.py
  src/sequifier/objectives.py
  src/sequifier/preprocess.py
  src/sequifier/sequifier.py
  src/sequifier/train.py
  tools/convert_v0_config_to_v1.py
Due: version-check, consolidate-docs

config resolution
  docs/source/api.rst
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/composition.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/metadata.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: consolidate-docs

config resolution
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
Due: none

implement composable configs
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/composition.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
Due: consolidate-docs

Ft/composable config (#126)
  .pre-commit-config.yaml
  README.md
  docs/source/api.rst
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  documentation/example_inputs/configs/ddconfigs/preprocessing_input.json
  src/sequifier/config/composition.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/metadata.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/hyperparameter_search.py
  src/sequifier/infer.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/make.py
  src/sequifier/objectives.py
  src/sequifier/preprocess.py
  src/sequifier/sequifier.py
  src/sequifier/train.py
  tools/convert_v0_config_to_v1.py
Due: version-check, consolidate-docs

deploy: 39e6531927def5b0f19953660293ee8a45861ede
  main/_modules/index.html
  main/_modules/sequifier/config/composition.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/metadata.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_sources/api.rst.txt
  main/api.html
  main/genindex.html
  main/index.html
  main/objects.inv
  main/py-modindex.html
  main/search.html
  main/searchindex.js
  v1.0.0.0/api.html
  v1.0.0.1/api.html
  v1.0.0.2/api.html
  v1.0.0.3/api.html
  v1.0.0.4/api.html
  v1.0.0.5/api.html
  v1.0.0.6/api.html
  v1.1.0.0/api.html
  v1.1.0.1/api.html
  v1.1.0.2/api.html
  v1.1.0.4/api.html
  v1.1.0.5/api.html
  v1.1.1.0/api.html
Due: none

backbone refactor
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/__init__.py
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/artifacts/manifests.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/composition.py
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/partial_hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/infer.py
  src/sequifier/make.py
  src/sequifier/model/backbone.py
  src/sequifier/model/decoders.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/initialization.py
  src/sequifier/model/layers.py
  src/sequifier/model/model.py
  src/sequifier/train.py
  src/sequifier/training/__init__.py
  src/sequifier/training/distributed.py
  src/sequifier/training/initial_state.py
  src/sequifier/training/lifecycle.py
Due: consolidate-docs

Path conditions:
  version-check: (any of: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$) or (any of: ^(pyproject\.toml|.github/workflows/docs.yml)$)
  consolidate-docs: any of: ^(README\.md|documentation/configs/.*\.md)$
