Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        name: Check YAML files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.351
    hooks:
      - id: pyright
        additional_dependencies:
          [
            beartype,
            einops,
            jax,
            jaxtyping,
            optax,
            pytest,
            tensorflow,
            tf2onnx,
            typing_extensions,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: local
    hooks:
      - id: version-check
        name: Check version consistency
        entry: hooks/correct_docs_version.py
        language: python
        files: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: version-check
        name: Check dependency consistency
        entry: hooks/validate_docs_deps.py
        language: python
        files: ^(pyproject\.toml|.github/workflows/docs.yml)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: consolidate-docs
        name: Consolidate configuration documentation
        entry: python hooks/consolidate_docs.py
        language: python
        # Only trigger if the README or the specific config files change
        files: ^(README\.md|documentation/configs/.*\.md)$
        pass_filenames: false

Fix halo x window_stride interaction
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/io/window_sampling.py
  src/sequifier/preprocess.py
Due: consolidate-docs

Fix inference bugs with halo
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/infer_config.py
  src/sequifier/infer.py
Due: consolidate-docs

fix autoregression bug
  src/sequifier/config/infer_config.py
  src/sequifier/infer.py
Due: none

save split_context
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
Due: none

reverse autoregression constraint
  src/sequifier/infer.py
Due: none

Ft/overlapping splits (#146)
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/split_context.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/io/pt_payload.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/io/window_sampling.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: consolidate-docs

add value_cutoffs functionality
  src/sequifier/config/preprocess_config.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: none

fix issues with split_value
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/infer_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: consolidate-docs

Ft/split by value (#147)
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/infer_config.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: consolidate-docs

cover explitic categorical and real column declaration
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: consolidate-docs

cover explitic categorical and real column declaration (#148)
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: consolidate-docs

add single var cardinality transforms
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: none

fix cardinality bugs
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: none

Ft/cardinality strats (#149)
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: none

multi cardinality v1
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/components.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
Due: consolidate-docs

multi cardinality wip
  README.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/model_artifact.py
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/train_config.py
  src/sequifier/evaluation/service.py
  src/sequifier/export/service.py
  src/sequifier/model/decoders.py
  src/sequifier/model/factory.py
  src/sequifier/model/hash_codec.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/network.py
  src/sequifier/training/loss.py
  src/sequifier/training/metrics.py
  src/sequifier/training/metrics_service.py
  src/sequifier/training/runtime.py
Due: version-check, consolidate-docs

remove legacy 'legacy'
  README.md
  documentation/configs/infer.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/components.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/infer.py
  src/sequifier/io/sample_order.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
Due: version-check, consolidate-docs

update docs
  README.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

fix bugs
  README.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/decoders.py
Due: version-check, consolidate-docs

Ft/multi cardinality strats (#150)
  README.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/model_artifact.py
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/artifacts/run_checkpoint.py
  src/sequifier/config/components.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/evaluation/service.py
  src/sequifier/export/service.py
  src/sequifier/infer.py
  src/sequifier/io/sample_order.py
  src/sequifier/model/decoders.py
  src/sequifier/model/factory.py
  src/sequifier/model/hash_codec.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
  src/sequifier/model/network.py
  src/sequifier/training/loss.py
  src/sequifier/training/metrics.py
  src/sequifier/training/metrics_service.py
  src/sequifier/training/runtime.py
Due: version-check, consolidate-docs

implement scaled embedding shares
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/model/depth_ingestion.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
Due: consolidate-docs

update docs
  documentation/configs/train.md
  documentation/consolidated-docs.md
Due: consolidate-docs

Ft/scaled enbed alloc (#151)
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/model/depth_ingestion.py
  src/sequifier/model/ingestion_compiler.py
  src/sequifier/model/ingestions.py
Due: consolidate-docs

update version
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

enumerate dict only when necessary
  src/sequifier/model/hash_codec.py
Due: none

enable halo for value_cutoff
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
Due: consolidate-docs

add preprocess explainer
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
Due: consolidate-docs

Ft/release (#152)
  README.md
  docs/source/conf.py
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/config/preprocess_config.py
  src/sequifier/model/hash_codec.py
Due: version-check, consolidate-docs

update prepr doc
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
Due: consolidate-docs

add release note
  .github/RELEASING.md
  README.md
  docs/source/index.rst
  documentation/consolidated-docs.md
  release-notes/v2.3.0.0.md
Due: version-check, consolidate-docs

fix docs
  README.md
  docs/source/api.rst
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

remove state dir from make
  README.md
  documentation/consolidated-docs.md
  src/sequifier/make.py
Due: version-check, consolidate-docs

change semantics
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: consolidate-docs

implement new windowing semantics
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  release-notes/v2.3.0.0.md
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/split_context.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
  src/sequifier/training/checkpoint_service.py
  tools/convert_v0_config_to_v1.py
Due: consolidate-docs

save to metadata
  src/sequifier/config/infer_config.py
  src/sequifier/config/metadata.py
  src/sequifier/config/train_config.py
  src/sequifier/preprocess.py
Due: none

Rf/preprocessing semantics (#153)
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  release-notes/v2.3.0.0.md
  src/sequifier/artifacts/model_config.py
  src/sequifier/artifacts/model_export.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/split_context.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
  src/sequifier/training/checkpoint_service.py
  tools/convert_v0_config_to_v1.py
Due: consolidate-docs

Implement split share guard
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: none

new depth preprocessing
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/io/depth_preprocess.py
Due: consolidate-docs

new depth preprocessing (#154)
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/io/depth_preprocess.py
Due: consolidate-docs

add docs command
  README.md
  hooks/consolidate_docs.py
  pyproject.toml
  src/sequifier/consolidated-docs.md
  src/sequifier/docs.py
  src/sequifier/sequifier.py
Due: version-check, consolidate-docs
