Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        name: Check YAML files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.351
    hooks:
      - id: pyright
        additional_dependencies:
          [
            beartype,
            einops,
            jax,
            jaxtyping,
            optax,
            pytest,
            tensorflow,
            tf2onnx,
            typing_extensions,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: local
    hooks:
      - id: version-check
        name: Check version consistency
        entry: hooks/correct_docs_version.py
        language: python
        files: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: version-check
        name: Check dependency consistency
        entry: hooks/validate_docs_deps.py
        language: python
        files: ^(pyproject\.toml|.github/workflows/docs.yml)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: consolidate-docs
        name: Consolidate configuration documentation
        entry: python hooks/consolidate_docs.py
        language: python
        # Only trigger if the README or the specific config files change
        files: ^(README\.md|documentation/configs/.*\.md)$
        pass_filenames: false

output only one consolidated docs
  .pre-commit-config.yaml
  documentation/consolidated-docs.md
  hooks/consolidate_docs.py
Due: none

add docs command (#155)
  .pre-commit-config.yaml
  README.md
  hooks/consolidate_docs.py
  pyproject.toml
  src/sequifier/consolidated-docs.md
  src/sequifier/docs.py
  src/sequifier/sequifier.py
Due: version-check, consolidate-docs

fix docs
  documentation/configs/preprocess.md
  src/sequifier/consolidated-docs.md
Due: consolidate-docs

update release notes
  README.md
  docs/source/conf.py
  pyproject.toml
  release-notes/v2.3.0.0.md
  release-notes/v3.0.0.0.md
  src/sequifier/consolidated-docs.md
Due: version-check, consolidate-docs

optimizer routing
  docs/source/api.rst
  documentation/configs/train.md
  src/sequifier/config/optimizer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/consolidated-docs.md
  src/sequifier/optimizers/plan.py
  src/sequifier/runtime/builder.py
  src/sequifier/training/optimization.py
Due: consolidate-docs

enable lr resolution
  documentation/configs/train.md
  documentation/training/runtime-architecture.md
  src/sequifier/config/optimizer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/consolidated-docs.md
  src/sequifier/export/preflight.py
  src/sequifier/training/optimization.py
Due: consolidate-docs

Ft/multi optimizer (#156)
  docs/source/api.rst
  documentation/configs/train.md
  documentation/training/runtime-architecture.md
  src/sequifier/config/optimizer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/consolidated-docs.md
  src/sequifier/export/preflight.py
  src/sequifier/optimizers/plan.py
  src/sequifier/runtime/builder.py
  src/sequifier/training/optimization.py
Due: consolidate-docs

add depth preprocessing resumption
  src/sequifier/io/depth_preprocess.py
Due: none

add depth preprocessing resumption (#157)
  src/sequifier/io/depth_preprocess.py
Due: none

clean up
  .github/workflows/docs.yml
  docs/source/api.rst
  poetry.lock
  pyproject.toml
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/helpers.py
  src/sequifier/io/folder_dataset.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
Due: version-check

remove sidecar export in onnx
  src/sequifier/export/onnx.py
Due: none

add cardinality config to docs
  documentation/configs/preprocess.md
  src/sequifier/consolidated-docs.md
Due: consolidate-docs

Ft/cleanup (#159)
  .github/workflows/docs.yml
  docs/source/api.rst
  documentation/configs/preprocess.md
  poetry.lock
  pyproject.toml
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/consolidated-docs.md
  src/sequifier/export/onnx.py
  src/sequifier/helpers.py
  src/sequifier/io/folder_dataset.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
Due: version-check, consolidate-docs
