Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

version-check:
  name: Check dependency consistency
  entry: hooks/validate_docs_deps.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tomli

consolidate-docs:
  name: Consolidate configuration documentation
  entry: python hooks/consolidate_docs.py
  language: python
  pass_filenames: false

typos
  README.md
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

Fix quotes
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Rf/readme (#139)
  README.md
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

logging
  src/sequifier/evaluation/service.py
  src/sequifier/training/loss.py
  src/sequifier/training/metrics.py
Due: none

skip loss when weight is 0.0
  src/sequifier/training/loss.py
Due: none

optimization restart per phase
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/runtime/builder.py
  src/sequifier/training/checkpoint_service.py
  src/sequifier/training/engine.py
  src/sequifier/training/optimization.py
Due: consolidate-docs

update to 2.1.0.0
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/config/train_config.py
  src/sequifier/export/onnx.py
Due: version-check, consolidate-docs

remove plans
  documentation/plans/named-depth-layouts-handoff.md
  documentation/plans/named-depth-layouts-implementation-plan.md
Due: none

update documentation
  README.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/runtime-architecture.md
Due: version-check, consolidate-docs

implement curriculum learning
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/io/pt_payload.py
  src/sequifier/io/sample_order.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/preprocess.py
Due: consolidate-docs

enable multiple curriculum columns in preprocessing
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/artifacts/model_config.py
  src/sequifier/config/depth_layout.py
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/io/pt_payload.py
  src/sequifier/io/sample_order.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/preprocess.py
  src/sequifier/training/runtime.py
Due: consolidate-docs

update hps file naming
  src/sequifier/config/canonical_hyperparameter_search_config.py
Due: none

Update version
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

fix manifest on resumption
  src/sequifier/preprocess.py
Due: none

update docs
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
Due: consolidate-docs

Ft/curriculum (#141)
  README.md
  docs/source/conf.py
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/artifacts/model_config.py
  src/sequifier/config/canonical_hyperparameter_search_config.py
  src/sequifier/config/depth_layout.py
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/io/pt_payload.py
  src/sequifier/io/sample_order.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/preprocess.py
  src/sequifier/training/runtime.py
Due: version-check, consolidate-docs

dependent decoding v1
  README.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/components.py
  src/sequifier/config/infer_config.py
  src/sequifier/evaluation/service.py
  src/sequifier/infer.py
  src/sequifier/model/decoders.py
  src/sequifier/model/factory.py
  src/sequifier/model/network.py
  src/sequifier/model/parameter_catalog.py
  src/sequifier/model/parameter_groups.py
  src/sequifier/training/engine.py
  src/sequifier/training/loss.py
Due: version-check, consolidate-docs

fix offset error
  src/sequifier/evaluation/service.py
  src/sequifier/model/decoders.py
  src/sequifier/model/network.py
  src/sequifier/training/engine.py
Due: none

remove surplus weights
  src/sequifier/model/decoders.py
  staged_diff.txt
Due: none

Fix init
  src/sequifier/model/decoders.py
  src/sequifier/model/initialization.py
Due: none

fix bugs
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/model/decoders.py
Due: consolidate-docs

Ft/dependent decoder (#142)
  README.md
  documentation/configs/infer.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/components.py
  src/sequifier/config/infer_config.py
  src/sequifier/evaluation/service.py
  src/sequifier/infer.py
  src/sequifier/model/decoders.py
  src/sequifier/model/factory.py
  src/sequifier/model/initialization.py
  src/sequifier/model/network.py
  src/sequifier/model/parameter_catalog.py
  src/sequifier/model/parameter_groups.py
  src/sequifier/training/engine.py
  src/sequifier/training/loss.py
  staged_diff.txt
Due: version-check, consolidate-docs

deploy: 4bce79f4a51e798417c4408cc2cd08372288463b
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/model/factory.html
  main/_modules/sequifier/model/network.html
  main/_modules/sequifier/model/parameter_catalog.html
  main/api.html
  main/guides/infer.html
  main/guides/train.html
  main/index.html
  main/searchindex.js
Due: none

address bugs
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/config/train_config.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/training/distributed_strategy.py
  src/sequifier/training/engine.py
  src/sequifier/training/optimization.py
Due: none

address bugs (#143)
  src/sequifier/artifacts/backbone_repository.py
  src/sequifier/config/train_config.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/training/distributed_strategy.py
  src/sequifier/training/engine.py
  src/sequifier/training/optimization.py
Due: none

deploy: 24c27b36e8dbdad58193f10c69ed890e7b2ef1c5
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_parquet.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_pt.html
  main/_modules/sequifier/io/sequifier_dataset_from_folder_pt_lazy.html
  main/_modules/sequifier/training/distributed_strategy.html
  main/_modules/sequifier/training/optimization.html
  main/api.html
  main/searchindex.js
Due: none

make more efficient
  src/sequifier/preprocess.py
Due: none

speed up preprocessing
  src/sequifier/helpers.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: none

fix bugs
  src/sequifier/preprocess.py
Due: none

make more efficient (#144)
  src/sequifier/helpers.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: none

train only preprocessing
  .pre-commit-config.yaml
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: consolidate-docs

train only preprocessing (#145)
  .pre-commit-config.yaml
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/preprocess.py
Due: consolidate-docs

enable overlapping splits
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/metadata.py
  src/sequifier/config/preprocess_config.py
  src/sequifier/config/split_context.py
  src/sequifier/config/train_config.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/io/pt_payload.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/io/window_sampling.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: consolidate-docs

remove backward compatibility of intermediate representations
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
  src/sequifier/infer.py
  src/sequifier/io/depth_preprocess.py
  src/sequifier/io/pt_payload.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/io/window_sampling.py
  src/sequifier/preprocess.py
Due: consolidate-docs

Path conditions:
  version-check: (any of: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$) or (any of: ^(pyproject\.toml|.github/workflows/docs.yml)$)
  consolidate-docs: any of: ^(README\.md|documentation/configs/.*\.md)$
