Repository 0xideas/sequifier: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, consolidate-docs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        name: Check YAML files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.351
    hooks:
      - id: pyright
        additional_dependencies:
          [
            beartype,
            einops,
            jax,
            jaxtyping,
            optax,
            pytest,
            tensorflow,
            tf2onnx,
            typing_extensions,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: local
    hooks:
      - id: version-check
        name: Check version consistency
        entry: hooks/correct_docs_version.py
        language: python
        files: ^(pyproject\.toml|docs/source/conf\.py|README\.md)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: version-check
        name: Check dependency consistency
        entry: hooks/validate_docs_deps.py
        language: python
        files: ^(pyproject\.toml|.github/workflows/docs.yml)$
        pass_filenames: false
        additional_dependencies: [tomli]

  - repo: local
    hooks:
      - id: consolidate-docs
        name: Consolidate configuration documentation
        entry: python hooks/consolidate_docs.py
        language: python
        # Only trigger if the README or the specific config files change
        files: ^(README\.md|documentation/configs/.*\.md)$
        pass_filenames: false

Make preprocessing resumption more efficient
  src/sequifier/preprocess.py
Due: none

pyright
  pyrightconfig.json
  src/sequifier/train.py
Due: none

allow_sequence_splitting and device dependent torch float type
  src/sequifier/config/preprocess_config.py
  src/sequifier/preprocess.py
  src/sequifier/train.py
Due: none

Correct state saving and loading WIP
  src/sequifier/train.py
Due: none

Refactor checkpoint metadata management
  src/sequifier/io/iteration_state.py
  src/sequifier/io/sequifier_dataset_from_file.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/train.py
Due: none

WIP
  src/sequifier/train.py
Due: none

Rename save_batch_interval_minutes to save_interval_minutes
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/train.py
Due: consolidate-docs

Rename interval checkpointing vars
  README.md
  docs/source/conf.py
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  pyproject.toml
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/train.py
Due: version-check, consolidate-docs

Add self.save_interval_batches
  src/sequifier/train.py
Due: none

remove accumulated_global_token_count, empty_global_batches, global_token_count
  src/sequifier/train.py
  uv.lock
Due: none

prevent layer_type_dtypes with FSDP
  src/sequifier/config/train_config.py
  src/sequifier/train.py
Due: none

Fix FSDP mixed precision policy
  src/sequifier/train.py
Due: none

Add type casting to preprocessing
  documentation/configs/preprocess.md
  documentation/consolidated-docs.md
  src/sequifier/config/preprocess_config.py
  src/sequifier/helpers.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: consolidate-docs

Add between sequences split
  src/sequifier/config/preprocess_config.py
  src/sequifier/helpers.py
  src/sequifier/make.py
  src/sequifier/preprocess.py
Due: none

adapt inference to column_types
  src/sequifier/config/infer_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/train.py
Due: none

Add final_value training objective
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/train.py
Due: none

udpate upcasting for inference
  src/sequifier/train.py
Due: none

Working next_occurrence implementation
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/train.py
Due: none

simplify preprocessing manifest
  src/sequifier/preprocess.py
Due: none

Apply sample_valid_mask also during training
  src/sequifier/train.py
Due: none

remove sampling_strategy
  documentation/configs/hyperparameter-search.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/training/multi-gpu-training.md
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/train_config.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet.py
  src/sequifier/io/sequifier_dataset_from_folder_parquet_lazy.py
  src/sequifier/io/sequifier_dataset_from_folder_pt.py
  src/sequifier/io/sequifier_dataset_from_folder_pt_lazy.py
  src/sequifier/train.py
Due: consolidate-docs

Update docs
  README.md
  documentation/configs/hyperparameter-search.md
  documentation/configs/infer.md
  documentation/configs/preprocess.md
  documentation/configs/train.md
  documentation/consolidated-docs.md
  documentation/demos/self-contained-example.ipynb
  documentation/example_inputs/configs/ddconfigs/preprocessing_input.json
  documentation/example_inputs/training_input.csv
  documentation/training/multi-gpu-training.md
Due: version-check, consolidate-docs

update readme
  README.md
  documentation/consolidated-docs.md
  src/sequifier/train.py
Due: version-check, consolidate-docs

update to v2.0.0.0
  README.md
  docs/source/conf.py
  documentation/consolidated-docs.md
  pyproject.toml
Due: version-check, consolidate-docs

Add v2 vs v1 summary
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Move table
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Remove table
  README.md
  documentation/consolidated-docs.md
Due: version-check, consolidate-docs

Delete uv.lock
  .gitignore
  uv.lock
Due: none

deploy: 43f1dd339b5e5c9782904e7f378d027ce69624be
  main/_modules/index.html
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/preprocess_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/hyperparameter_search.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/io/sequifier_dataset_from_file.html
  main/_modules/sequifier/io/yaml.html
  main/_modules/sequifier/make.html
  main/_modules/sequifier/optimizers/ademamix.html
  main/_modules/sequifier/optimizers/optimizers.html
  main/_modules/sequifier/preprocess.html
  main/_modules/sequifier/sequifier.html
  main/_modules/sequifier/train.html
  main/_static/documentation_options.js
  main/api.html
  main/genindex.html
  main/index.html
  main/objects.inv
  main/py-modindex.html
  main/search.html
  main/searchindex.js
Due: none

implement objective classes
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/objectives.py
  src/sequifier/train.py
Due: none

implement objective classes (#122)
  src/sequifier/config/hyperparameter_search_config.py
  src/sequifier/config/infer_config.py
  src/sequifier/config/train_config.py
  src/sequifier/helpers.py
  src/sequifier/infer.py
  src/sequifier/objectives.py
  src/sequifier/train.py
Due: none

deploy: 7af13f2a080ddbd0bc60a2f1103bffcc6abc06fd
  main/_modules/sequifier/config/hyperparameter_search_config.html
  main/_modules/sequifier/config/infer_config.html
  main/_modules/sequifier/config/train_config.html
  main/_modules/sequifier/helpers.html
  main/_modules/sequifier/infer.html
  main/_modules/sequifier/train.html
  main/api.html
  main/genindex.html
  main/index.html
  main/objects.inv
  main/searchindex.js
Due: none

implement input frontend
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/make.py
  src/sequifier/model/frontends.py
  src/sequifier/train.py
Due: consolidate-docs

Add axis projection
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/frontends.py
Due: consolidate-docs

remove patchfrontend
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/frontends.py
Due: consolidate-docs

add axis embeddings
  documentation/configs/train.md
  documentation/consolidated-docs.md
  src/sequifier/config/train_config.py
  src/sequifier/model/frontends.py
Due: consolidate-docs
